In [1]:
import pandas as pd

# Read the student-level file
stu = pd.read_sas("STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format='sas7bdat', encoding='latin1')

# Inspect the columns
print(stu.columns.tolist()[:50])  # first 50 columns
print(stu.shape)
stu.head()

['CNT', 'CNTRYID', 'CNTSCHID', 'CNTSTUID', 'CYC', 'NatCen', 'STRATUM', 'SUBNATIO', 'REGION', 'OECD', 'ADMINMODE', 'LANGTEST_QQQ', 'LANGTEST_COG', 'LANGTEST_PAQ', 'Option_CT', 'Option_FL', 'Option_ICTQ', 'Option_WBQ', 'Option_PQ', 'Option_TQ', 'Option_UH', 'BOOKID', 'ST001D01T', 'ST003D02T', 'ST003D03T', 'ST004D01T', 'ST250Q01JA', 'ST250Q02JA', 'ST250Q03JA', 'ST250Q04JA', 'ST250Q05JA', 'ST250D06JA', 'ST250D07JA', 'ST251Q01JA', 'ST251Q02JA', 'ST251Q03JA', 'ST251Q04JA', 'ST251Q06JA', 'ST251Q07JA', 'ST251D08JA', 'ST251D09JA', 'ST253Q01JA', 'ST254Q01JA', 'ST254Q02JA', 'ST254Q03JA', 'ST254Q04JA', 'ST254Q05JA', 'ST254Q06JA', 'ST255Q01JA', 'ST256Q01JA']
(613744, 1278)

,CNT,CNTRYID,CNTSCHID,CNTSTUID,CYC,NatCen,STRATUM,SUBNATIO,REGION,OECD,...,PV3MPRE,PV4MPRE,PV5MPRE,PV6MPRE,PV7MPRE,PV8MPRE,PV9MPRE,PV10MPRE,SENWT,VER_DAT
0,ALB,8.0,800282.0,800001.0,08MS,000800,ALB03,0080000,800.0,0.0,...,226.250,203.029,219.817,331.017,223.752,305.671,230.156,289.436,0.55561,03MAY23:10:11:25
1,ALB,8.0,800115.0,800002.0,08MS,000800,ALB03,0080000,800.0,0.0,...,298.644,321.405,320.452,284.836,364.565,304.044,347.626,352.269,0.76431,03MAY23:10:11:25
2,ALB,8.0,800242.0,800003.0,08MS,000800,ALB01,0080000,800.0,0.0,...,383.340,376.019,285.901,289.896,338.469,316.296,324.361,343.351,1.37877,03MAY23:10:11:25
3,ALB,8.0,800245.0,800005.0,08MS,000800,ALB08,0080000,800.0,0.0,...,264.532,303.422,327.793,165.575,246.156,238.322,275.860,227.466,1.49361,03MAY23:10:11:26
4,ALB,8.0,800285.0,800006.0,08MS,000800,ALB03,0080000,800.0,0.0,...,399.300,514.739,539.850,461.793,514.465,510.462,490.537,503.793,0.65249,03MAY23:10:11:26

In [3]:
key_vars = [c for c in stu.columns if any(k in c for k in ["ESCS", "PV1MATH", "PV1READ", "PV1SCIE", "W_FSTUWT"])]
print(key_vars)

['ESCS', 'W_FSTUWT', 'PV1MATH', 'PV1READ', 'PV1SCIE']

In [4]:
# Check which countries exist
print(stu['CNT'].unique())

# Quick look at Singapore sample
sgp = stu[stu['CNT'] == 'SGP']
print(sgp[['ESCS', 'PV1MATH', 'W_FSTUWT']].describe())

['ALB' 'QAZ' 'ARG' 'AUS' 'AUT' 'BEL' 'BRA' 'BRN' 'BGR' 'KHM' 'CAN' 'CHL'
 'TAP' 'COL' 'CRI' 'HRV' 'CZE' 'DNK' 'DOM' 'SLV' 'EST' 'FIN' 'FRA' 'GEO'
 'PSE' 'DEU' 'GRC' 'GTM' 'HKG' 'HUN' 'ISL' 'IDN' 'IRL' 'ISR' 'ITA' 'KSV'
 'JAM' 'JPN' 'KAZ' 'JOR' 'KOR' 'LVA' 'LTU' 'MAC' 'MYS' 'MLT' 'MEX' 'MNG'
 'MDA' 'MNE' 'MAR' 'NLD' 'NZL' 'NOR' 'PAN' 'PRY' 'PER' 'PHL' 'POL' 'PRT'
 'QAT' 'ROU' 'SAU' 'SRB' 'SGP' 'SVK' 'VNM' 'SVN' 'ESP' 'SWE' 'CHE' 'THA'
 'ARE' 'TUR' 'QUR' 'MKD' 'GBR' 'USA' 'URY' 'UZB']
              ESCS      PV1MATH     W_FSTUWT
count  6559.000000  6606.000000  6606.000000
mean      0.290373   574.238768     6.351474
std       0.832615   102.744234     1.332973
min      -3.548800   218.571000     2.525000
25%      -0.232700   503.103500     5.417500
50%       0.481700   582.544000     6.350955
75%       0.903600   648.233500     7.018000
max       3.278000   943.041000    15.035350

In [1]:
import statsmodels.api as sm
import matplotlib.pyplot as plt

# Example: compare Singapore (early-tracking) and Finland (late-tracking)
for country in ['SGP', 'FIN']:
    sub = stu[stu['CNT'] == country][['ESCS', 'PV1MATH', 'W_FSTUWT']].dropna()
    X = sm.add_constant(sub['ESCS'])
    model = sm.WLS(sub['PV1MATH'], X, weights=sub['W_FSTUWT']).fit()
    slope = model.params['ESCS']
    print(f"{country}: SES–Achievement slope = {slope:.2f}")
    
    # For visualization
    plt.scatter(sub['ESCS'], sub['PV1MATH'], alpha=0.1, label=f'{country} data')
    x_vals = np.linspace(sub['ESCS'].min(), sub['ESCS'].max(), 100)
    plt.plot(x_vals, model.params['const'] + model.params['ESCS']*x_vals, label=f'{country} fit')

plt.xlabel("Socioeconomic Status (ESCS)")
plt.ylabel("Math Achievement (PV1MATH)")
plt.title("SES–Achievement Relationship: Singapore vs. Finland")
plt.legend()
plt.show()

ModuleNotFoundError: No module named 'statsmodels'