In [1]:
import pandas as pd
import numpy as np

In [2]:
stu = pd.read_sas("../data/oecd/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format='sas7bdat', encoding='latin1')
print(stu.shape)

(613744, 1278)

In [3]:
# Full list
columns = stu.columns.tolist()
print(columns[:50])  # first 50 for quick look
print(len(columns), "columns in total")

['CNT', 'CNTRYID', 'CNTSCHID', 'CNTSTUID', 'CYC', 'NatCen', 'STRATUM', 'SUBNATIO', 'REGION', 'OECD', 'ADMINMODE', 'LANGTEST_QQQ', 'LANGTEST_COG', 'LANGTEST_PAQ', 'Option_CT', 'Option_FL', 'Option_ICTQ', 'Option_WBQ', 'Option_PQ', 'Option_TQ', 'Option_UH', 'BOOKID', 'ST001D01T', 'ST003D02T', 'ST003D03T', 'ST004D01T', 'ST250Q01JA', 'ST250Q02JA', 'ST250Q03JA', 'ST250Q04JA', 'ST250Q05JA', 'ST250D06JA', 'ST250D07JA', 'ST251Q01JA', 'ST251Q02JA', 'ST251Q03JA', 'ST251Q04JA', 'ST251Q06JA', 'ST251Q07JA', 'ST251D08JA', 'ST251D09JA', 'ST253Q01JA', 'ST254Q01JA', 'ST254Q02JA', 'ST254Q03JA', 'ST254Q04JA', 'ST254Q05JA', 'ST254Q06JA', 'ST255Q01JA', 'ST256Q01JA']
1278 columns in total

In [4]:
key_vars = [c for c in columns if any(k in c for k in [
    "ESCS", "PARED", "HISEI", "PV1MATH", "PV1READ", "PV1SCIE", "W_FSTUWT"
])]
print(key_vars)

['PAREDINT', 'HISEI', 'ESCS', 'W_FSTUWT', 'PV1MATH', 'PV1READ', 'PV1SCIE']

In [5]:
print(stu['CNT'].unique())
print(stu['CNT'].nunique(), "countries")

['ALB' 'QAZ' 'ARG' 'AUS' 'AUT' 'BEL' 'BRA' 'BRN' 'BGR' 'KHM' 'CAN' 'CHL'
 'TAP' 'COL' 'CRI' 'HRV' 'CZE' 'DNK' 'DOM' 'SLV' 'EST' 'FIN' 'FRA' 'GEO'
 'PSE' 'DEU' 'GRC' 'GTM' 'HKG' 'HUN' 'ISL' 'IDN' 'IRL' 'ISR' 'ITA' 'KSV'
 'JAM' 'JPN' 'KAZ' 'JOR' 'KOR' 'LVA' 'LTU' 'MAC' 'MYS' 'MLT' 'MEX' 'MNG'
 'MDA' 'MNE' 'MAR' 'NLD' 'NZL' 'NOR' 'PAN' 'PRY' 'PER' 'PHL' 'POL' 'PRT'
 'QAT' 'ROU' 'SAU' 'SRB' 'SGP' 'SVK' 'VNM' 'SVN' 'ESP' 'SWE' 'CHE' 'THA'
 'ARE' 'TUR' 'QUR' 'MKD' 'GBR' 'USA' 'URY' 'UZB']
80 countries

In [6]:
sgp = stu[stu['CNT'] == 'SGP']
print(sgp[key_vars].describe())

          PAREDINT        HISEI         ESCS     W_FSTUWT      PV1MATH  \
count  6549.000000  6296.000000  6559.000000  6606.000000  6606.000000
mean     14.578027    62.951588     0.290373     6.351474   574.238768
std       2.022405    18.804255     0.832615     1.332973   102.744234
min       3.000000    14.210000    -3.548800     2.525000   218.571000
25%      12.000000    53.770000    -0.232700     5.417500   503.103500
50%      16.000000    70.340000     0.481700     6.350955   582.544000
75%      16.000000    76.650000     0.903600     7.018000   648.233500
max      16.000000    88.960000     3.278000    15.035350   943.041000

           PV1READ      PV1SCIE
count  6606.000000  6606.000000
mean    544.383228   560.825178
std     105.400937    99.603582
min     135.946000   187.501000
25%     476.871750   495.666750
50%     552.921000   568.744000
75%     619.631750   631.122750
max     859.500000   873.281000

In [8]:
codebook = pd.read_excel("../data/oecd/CY08MSP_CODEBOOK_27thJune24.xlsx", sheet_name=None)
print(codebook.keys())  # list of sheets

dict_keys(['CY08MSP_FLT_COG', 'CY08MSP_FLT_QQQ', 'CY08MSP_FLT_TIM', 'CY08MSP_SCH_QQQ', 'CY08MSP_STU_COG', 'CY08MSP_STU_QQQ', 'CY08MSP_STU_TIM', 'CY08MSP_TCH_QQQ', 'CY08MSP_CRT_COG'])

In [ ]:
stu[key_vars + ['CNT', 'CNTSCHID', 'CNTSTUID']].to_csv("temp/PISA2022_selected.csv", index=False)

In [13]:
stu_columns = pd.read_excel("../data/oecd/CY08MSP_CODEBOOK_27thJune24.xlsx", sheet_name='CY08MSP_STU_QQQ')
print(stu_columns.head())
# print([c for c in stu_columns.columns if 'track' in c.lower() or 'programme' in c.lower()])

  NAME                  VARLABEL  TYPE FORMAT  VARNUM MINMAX  VAL  \
0  CNT  Country code 3-character  CHAR    3.0     1.0    NaN  NaN
1  NaN                       NaN   NaN    NaN     NaN    NaN  ALB
2  NaN                       NaN   NaN    NaN     NaN    NaN  ARE
3  NaN                       NaN   NaN    NaN     NaN    NaN  ARG
4  NaN                       NaN   NaN    NaN     NaN    NaN  AUS

                  LABEL    COUNT  PERCENT NOTE
0                   NaN      NaN      NaN  NaN
1               Albania   6129.0   0.9986  NaN
2  United Arab Emirates  24600.0   4.0082  NaN
3             Argentina  12111.0   1.9733  NaN
4             Australia  13437.0   2.1893  NaN

In [14]:
# Load the student codebook sheet
stu_codebook = pd.read_excel("../data/oecd/CY08MSP_CODEBOOK_27thJune24.xlsx", sheet_name='CY08MSP_STU_QQQ')

# Search VARLABEL and LABEL columns for keywords
keywords = ['track', 'program', 'stream', 'course', 'academic', 'vocational']
matches = stu_codebook[
    stu_codebook['VARLABEL'].str.contains('|'.join(keywords), case=False, na=False) |
    stu_codebook['LABEL'].str.contains('|'.join(keywords), case=False, na=False)
]

print(matches[['NAME','VARLABEL','LABEL']])

      NAME VARLABEL                                              LABEL
397    NaN      NaN  BEL - stratum 21: Flanders/Part-time Vocationa...
399    NaN      NaN  BEL - stratum 23: French com/Regular/ISCED3/Ac...
401    NaN      NaN  BEL - stratum 25: French com/Regular/ISCED3/Vo...
402    NaN      NaN  BEL - stratum 26: French com/Regular/ Mixed IS...
405    NaN      NaN  BEL - stratum 29: French com/Part-time Vocatio...
...    ...      ...                                                ...
15162  NaN      NaN  758 : Master's or equivalent level, Profession...
15165  NaN      NaN  767 : Master's or equivalent level, orientatio...
15166  NaN      NaN  768 : Master's or equivalent level, orientatio...
15167  NaN      NaN  841 : Doctoral or equivalent level, Academic, ...
15168  NaN      NaN  844 : Doctoral or equivalent level, Academic, ...

[366 rows x 3 columns]

In [16]:
import pandas as pd

stu_columns = pd.read_excel("../data/oecd/CY08MSP_CODEBOOK_27thJune24.xlsx", sheet_name="CY08MSP_STU_QQQ")

# Rows where VARLABEL is not NaN
varlabel_rows = stu_columns[stu_columns['VARLABEL'].notna()][['NAME', 'VARLABEL']]
print("Rows with non-NaN VARLABEL:")
print(varlabel_rows.head(20))

# Rows where NAME is not NaN
name_rows = stu_columns[stu_columns['NAME'].notna()][['NAME', 'VARLABEL', 'LABEL']]
print("\nRows with non-NaN NAME:")
print(name_rows.head(20))

Rows with non-NaN VARLABEL:
              NAME                                           VARLABEL
0              CNT                           Country code 3-character
82         CNTRYID                                 Country Identifier
164       CNTSCHID                                    Intl. School ID
165       CNTSTUID                                   Intl. Student ID
166            CYC  PISA Assessment Cycle (2 digits + 2 character ...
167         NatCen                       National Centre 6-digit Code
252        STRATUM  Stratum ID 5-character (cnt + original stratum...
1570      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
1663        REGION                                             REGION
1809          OECD                                       OECD country
1812     ADMINMODE                                 Mode of Respondent
1815  LANGTEST_QQQ                          Language of Questionnaire
1888  LANGTEST_COG                             Language of Assessment
1960  LANGTEST_PAQ                   Language of Parent Questionnaire
2033     Option_CT                           Creative Thinking Option
2036     Option_FL                          Financial Literacy Option
2039   Option_ICTQ                           ICT Questionnaire Option
2042    Option_WBQ                    Well-Being Questionnaire Option
2045     Option_PQ                        Parent Questionnaire Option
2048     Option_TQ                       Teacher Questionnaire Option

Rows with non-NaN NAME:
              NAME                                           VARLABEL    LABEL
0              CNT                           Country code 3-character      NaN
82         CNTRYID                                 Country Identifier      NaN
164       CNTSCHID                                    Intl. School ID      NaN
165       CNTSTUID                                   Intl. Student ID      NaN
166            CYC  PISA Assessment Cycle (2 digits + 2 character ...      NaN
167         NatCen                       National Centre 6-digit Code  Albania
252        STRATUM  Stratum ID 5-character (cnt + original stratum...      NaN
1570      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...      NaN
1663        REGION                                             REGION      NaN
1809          OECD                                       OECD country      NaN
1812     ADMINMODE                                 Mode of Respondent      NaN
1815  LANGTEST_QQQ                          Language of Questionnaire      NaN
1888  LANGTEST_COG                             Language of Assessment      NaN
1960  LANGTEST_PAQ                   Language of Parent Questionnaire      NaN
2033     Option_CT                           Creative Thinking Option      NaN
2036     Option_FL                          Financial Literacy Option      NaN
2039   Option_ICTQ                           ICT Questionnaire Option      NaN
2042    Option_WBQ                    Well-Being Questionnaire Option      NaN
2045     Option_PQ                        Parent Questionnaire Option      NaN
2048     Option_TQ                       Teacher Questionnaire Option      NaN

In [19]:
unique_varlabels = stu_columns['VARLABEL'].dropna().unique()

# Define keywords that might indicate tracking, programs, or ability grouping
keywords = ["program", "track", "stream", "ability", "course", "vocational", "academic", "level"]

# Filter unique VARLABELs for these keywords (case-insensitive)
filtered_varlabels = [var for var in unique_varlabels if any(k.lower() in var.lower() for k in keywords)]

# Print results
for i, var in enumerate(filtered_varlabels):
    print(i, var)

0 What is the [highest level of schooling] completed by your mother?
1 Does your mother have any of the following qualifications: [ISCED level 8]
2 Does your mother have any of the following qualifications: [ISCED level 7]
3 Does your mother have any of the following qualifications: [ISCED level 6]
4 Does your mother have any of the following qualifications: [ISCED level 5]
5 Does your mother have any of the following qualifications: [ISCED level 4]
6 What is the [highest level of schooling] completed by your father?
7 Does your father have any of the following qualifications: [ISCED level 8]
8 Does your father have any of the following qualifications: [ISCED level 7]
9 Does your father have any of the following qualifications: [ISCED level 6]
10 Does your father have any of the following qualifications: [ISCED level 5]
11 Does your father have any of the following qualifications: [ISCED level 4]
12 How often at school: Coding/programming computers
13 How often at school: Working with computer mathematics systems (e.g. spreadsheets, programming software, graphing calculators)
14 How confident in math tasks: Coding/programming computers
15 How confident in math tasks: Working with computer mathematics systems (e.g. spreadsheets, programming software, graphing calculators)
16 How familiar are you with the following mathematical terms: Probability
17 [Additional math instruction] received: Internet or computer tutoring with a programme or application
18 In your school, how often participate in: Computer programming classes/activities
19 Out of school, how often participate in: Computer programming classes/activities
20 Which of the following qualifications do you expect to complete: [ISCED level 2]
21 Which of the following qualifications do you expect to complete: [ISCED level 3.3]
22 Which of the following qualifications do you expect to complete: [ISCED level 3.4]
23 Which of the following qualifications do you expect to complete: [ISCED level 4]
24 Which of the following qualifications do you expect to complete: [ISCED level 5]
25 Which of the following qualifications do you expect to complete: [ISCED level 6]
26 Which of the following qualifications do you expect to complete: [ISCED level 7]
27 Which of the following qualifications do you expect to complete: [ISCED level 8]
28 To learn about future study/work, have you: I researched the internet for information about [ISCED 3-7] programmes.
29 During COVID closures, how often: Offered live virtual classes on a video communication program (e.g. Zoom™, Skype™, Google® Meet™, Microsoft® Teams)
30 During COVID closures, how often use: Real-time lessons by a teacher from my school on a video communication program (e.g. ZoomTM, SkypeTM, Google® Meet™, Microsoft® Teams)
31 During COVID closures, how often use: Real time lessons by a private tutor on a video communication program (e.g. Zoom™, Skype™, Google® Meet™, Microsoft® Teams)
32 During COVID closures, how often use: Recorded lessons or other digital material from other sources (e.g. Khan Academy®, Coursera®)
33 Confident can do in future: Using a video communication program (e.g. Zoom™, Skype™, Google® Meet™, Microsoft® Teams)
34 Have you learned to manage money in a course: At school, in a subject or course specifically about managing your money
35 Have you learned to manage money in a course: At school as part of another subject or course
36 Have you learned to manage money in a course: In an activity outside school
37 How confident would you feel about: Keeping track of my account balance
38 Confident use digital device to: Keeping track of my balance
39 How often used [digital resources] to: Track the progress of your own work projects
40 How often used [digital resources] to: Read or listen to feedback sent by my teachers regarding my work and academic results
41 How much time spent: Create or edit my own digital content (pictures, videos, music, videos, computer programs)
42 How much time using [digital resources] to: Create or edit my own digital content (pictures, videos, music, videos, computer programs)
43 Agree/disagree: I am interested in learning [computer programming].
44 Can do with [digital resources]: Select the most efficient programme or app that allows me to carry out a specific task
45 Can do with [digital resources]: Create a computer program (e.g., in [Scratch®], [Python®], [Java®])
46 In the past six months, how often have you had the following: Irritability or bad temper
47 Agree/disagree? My child’s school offers parent education (e.g. [courses on family literacy]) or family support programmes (e.g. [to assist with health, nutrition]).
48 Agree/disagree? My child’s school cooperates with [community services] to strengthen school programmes and student development.
49 When choosing school, how important: The school offers particular courses or school subjects.
50 When choosing school, how important: The academic achievements of students in the school are high.
51 When choosing school, how important: The school offers exchange programmes with schools in other countries.
52 Which qualification do you expect your child to complete? [ISCED level 2]
53 Which qualification do you expect your child to complete? [ISCED level 3.3]
54 Which qualification do you expect your child to complete? [ISCED level 3.4]
55 Which qualification do you expect your child to complete? [ISCED level 4]
56 Which qualification do you expect your child to complete? [ISCED level 5]
57 Which qualification do you expect your child to complete? [ISCED level 6]
58 Which qualification do you expect your child to complete? [ISCED level 7]
59 Which qualification do you expect your child to complete? [ISCED level 8]
60 Out of school, how often child does: Computer programming classes/activities
61 Unique national study programme code
62 Levels of education programmes (ISCED 2011)
63 Highest expected educational level
64 Mother’s level of education (ISCED)
65 Father’s level of education (ISCED)
66 Highest level of education of parents (ISCED)
67 ICT availability at school  (WLE)
68 Availability and Usage of ICT at School
69 ICT availability outside of school  (WLE)
70 Availability and Usage of ICT at Home

In [20]:
import pandas as pd

# Load codebook
codebook = pd.read_excel("../data/oecd/CY08MSP_CODEBOOK_27thJune24.xlsx", sheet_name="CY08MSP_STU_QQQ")

# Filter rows where VARLABEL is not NaN → actual variable names / questions
variables = codebook[codebook['VARLABEL'].notna()][['NAME', 'VARLABEL']].drop_duplicates()

# Define keywords likely related to track/program or course streams
keywords = ['study programme', 'national programme', 'track', 'stream', 'programme code', 'education programme']

# Filter VARLABELs containing any of these keywords (case-insensitive)
candidate_vars = variables[variables['VARLABEL'].str.lower().str.contains('|'.join(keywords))]

print("Candidate VARLABELs possibly related to track/program info:")
print(candidate_vars)

# Check which of these are actually in the student dataset
stu_cols = pd.read_sas("../data/oecd/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT",
                       format='sas7bdat', encoding='latin1').columns.tolist()

existing_vars = [v for v in candidate_vars['NAME'] if v in stu_cols]
print("\nCandidate variables present in student dataset:")
print(existing_vars)

Candidate VARLABELs possibly related to track/program info:
             NAME                                           VARLABEL
8842   FL162Q05HA  How confident would you feel about: Keeping tr...
8872   FL163Q02HA  Confident use digital device to: Keeping track...
9544   IC174Q08JA  How often used [digital resources] to: Track t...
14442       PROGN               Unique national study programme code
15113      ISCEDP        Levels of education programmes (ISCED 2011)

Candidate variables present in student dataset:
['FL162Q05HA', 'FL163Q02HA', 'IC174Q08JA', 'PROGN', 'ISCEDP']

In [21]:
stu = pd.read_sas("../data/oecd/STU_QQQ_SAS/CY08MSP_STU_QQQ.SAS7BDAT", format='sas7bdat', encoding='latin1')

print(stu['PROGN'].value_counts(dropna=False))
print(stu['ISCEDP'].value_counts(dropna=False))

PROGN
07240002    24630
01240003    18401
00360001    11654
02460001    10232
03980001    10217
            ...
08280005        1
02220010        1
08270016        1
05040002        1
00320001        1
Name: count, Length: 439, dtype: int64
ISCEDP
344.0    338423
244.0    196453
354.0     74608
341.0      3138
254.0       845
453.0       207
343.0        66
NaN           4
Name: count, dtype: int64

In [ ]:
# Cross-tab ISCEDP by country
iscp_by_country = pd.crosstab(stu['CNT'], stu['ISCEDP'], margins=True)
# Relative frequencies (percent within each country)
iscp_pct = iscp_by_country.div(iscp_by_country.sum(axis=1), axis=0) * 100

# Quick look at top countries
print(iscp_by_country.head(10))
print(iscp_pct.head(10))
print(iscp_pct.loc['SGP'])  # Singapore

ISCEDP  244.0  254.0  341.0  343.0  344.0  354.0  453.0    All
CNT
ALB      1463      0      0      0   3998    668      0   6129
ARE      2562      0      0      0  22038      0      0  24600
ARG      1535      0      0      0  10574      0      0  12109
AUS     12646      0      0      0    775     16      0  13437
AUT       330      0      0      0   2279   3542      0   6151
BEL       242    203      0      0   4668   3173      0   8286
BGR        18      0      0      0   2859   3230      0   6107
BRA      1808      0      0      0   7968   1022      0  10798
BRN        29      0      0      0   5547      0      0   5576
CAN      2148      0      0      0  20925      0      0  23073
ISCEDP      244.0     254.0  341.0  343.0      344.0      354.0  453.0   All
CNT
ALB     11.935063  0.000000    0.0    0.0  32.615435   5.449502    0.0  50.0
ARE      5.207317  0.000000    0.0    0.0  44.792683   0.000000    0.0  50.0
ARG      6.338261  0.000000    0.0    0.0  43.661739   0.000000    0.0  50.0
AUS     47.056635  0.000000    0.0    0.0   2.883828   0.059537    0.0  50.0
AUT      2.682491  0.000000    0.0    0.0  18.525443  28.792066    0.0  50.0
BEL      1.460294  1.224958    0.0    0.0  28.167994  19.146754    0.0  50.0
BGR      0.147372  0.000000    0.0    0.0  23.407565  26.445063    0.0  50.0
BRA      8.371921  0.000000    0.0    0.0  36.895721   4.732358    0.0  50.0
BRN      0.260043  0.000000    0.0    0.0  49.739957   0.000000    0.0  50.0
CAN      4.654791  0.000000    0.0    0.0  45.345209   0.000000    0.0  50.0
ISCEDP
244.0     0.544959
254.0     0.000000
341.0     0.000000
343.0     0.000000
344.0    49.455041
354.0     0.000000
453.0     0.000000
All      50.000000
Name: SGP, dtype: float64